body {
  line-height: 30px;
  font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
  font-size: 18px;
  margin: 0px; }

.mainBody {
  margin: 30px 20px; }

.textBody {
  width: 100%;
  height: 300px;
  border: 1px solid #184;
  font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
  font-size: 18px; }

.textTitle {
  width: 100%;
  border: 1px solid #184;
  font-size: 20px; }

.postBody {
  max-height: 5em;
  width: 100%;
  overflow: hidden;
  transition: max-height 1s; }

.postBody.Expanded {
  max-height: 100em; }

.promoted {
  background-color: #184;
  color: #EEE; }

.topMenu {
  background-color: #184;
  height: 100%; }
  .topMenu a {
    color: #EEE;
    padding: 0px 10px 0px 0px; }
    .topMenu a.logo {
      font-weight: bold;
      padding: 0px 10px; }
  .topMenu .right {
    float: right; }
