<h2>Thanks!</h2>
<p>I want to thank you for coming here and helping AnonBlog be a real thing.</p>

<h3>First Time?</h3>
<p>
  AnonBlog is a completely anonymous blogging platform. It doesn't track your
  post, comments, or anything; you don't even have an account here.
</p>

<h3>Experiment</h3>
<p>
  My little experiment was a lot of fun for me to make, not just development but
  also coming up with the rules around how it works. Asymetric security is all
  over the web, it's how almost everything works so it was entertaining to
  experiment with a completely different kind of security.
</p>

<h3>How You Can Help</h3>
<p>
  Contribute on Github at
  <a href="https://github.com/PureMunky/AnonBlog">
    https://github.com/PureMunky/AnonBlog
  </a>
</p>