$font-stack: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;

$darkColor: #184;
$lightColor: #EEE;
$errorColor: #900;

$border-style: 1px solid $darkColor;

body {
    line-height: 30px;
    font-family: $font-stack;
    font-size: 18px;
    margin: 0px;
}

.mainBody {
    margin: 30px 20px;    
}

.textBody {
    width: 100%;
    height: 300px;
    border: $border-style;
    font-family: $font-stack;
    font-size: 18px;
}

.textTitle {
    width: 100%;
    border: $border-style;
    font-size: 20px;
}

.post {
    border: 1px solid $lightColor;
    margin-bottom: 15px;
}

.postTitle {
    background-color: $lightColor;
    padding: 5px;
    
    a {
        color: $darkColor;
        text-decoration: none;
        font-weight: bold;
    }
}

.postBody {
   max-height: 5em;
   width: 100%;
   overflow: hidden;
   transition: max-height 1s;
}

.postBody.Expanded {
    max-height: 100em;
}

.promote {
    display: inline;
    float: right;
    padding: 0px 5px;
    div {
        display: inline;
    }
}
.promoted {
    background-color: $darkColor;
    color: $lightColor;
}

.topMenu {
    background-color: $darkColor;
    height: 100%;
    
    a {
        color: $lightColor;
        padding: 0px 10px 0px 0px;
        
        &.logo {
            font-weight: bold;
            padding: 0px 10px;
        }
    }
    
    .right {
        float: right;
    }
}

.error {
    background-color: $errorColor;
    color: $lightColor;
    padding: 10px;
    
    .button {
        margin: 5px;
        float: right;
    }
}

.smallText {
    font-size: .7em;
}